<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
  </head>
  <body>
    <header>
      <div class="container">
        {% if page.date %}
          <a class="author" href="{{ "/" | relative_url }}">
            <p>Production Notes by</p>
            <h2>{{ page.author }}</h2>
          </a>
          <div class="issue">
              <p class="date">{{ page.date | date: "%B %Y" }}</p>
              <h2>Doctor Who Magazine #{{ page.slug }}</h2>
          </div>
        {% else %}
          <h2>Production Notes</h2>
          <h2>Doctor Who Magazine</h2>
        {% endif %}
      </div>
    </header>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>
</html>